# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple

In [9]:
from setuptools.wheel import unpack

tupleData = tuple(x for x in range(1,11))
print(tuple(tupleData))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [10]:
firstTupleElem=tupleData[0:1]
print(firstTupleElem)

(1,)


### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [24]:
firstThree= tupleData[0:3]
print(firstThree)
lastThree= tupleData[-3:]
print(lastThree)

(1, 2, 3)
(8, 9, 10)


### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [26]:
matrix = ((1,3,4),(2,5,6),(7,8,9))

for row in matrix:
    print(row)
print('second row and third column:',matrix[1][2])

(1, 3, 4)
(2, 5, 6)
(7, 8, 9)
second row and third column: 6


### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [31]:
tuples1 = (1,2,3)
tuples2 = (4,5,6)
result = tuples1 + tuples2
print(result)

(1, 2, 3, 4, 5, 6)


### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [4]:
dup = (1,1,35,3,4,3,7,8,7)
target = 3
print(dup.count(target))
print(dup.index(3))

2
3


### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [7]:
pack_elem = (1,'home',4,"package","home")
a,b,c,d,e = pack_elem
print(a)
print(b)
print(c)
print(d)
print(e)

1
home
4
package
home


### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [10]:
pos = list(x for x in range (1,6))
print(tuple(pos))

(1, 2, 3, 4, 5)


### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [14]:
big_tup = ((12,2,5),(2,4,4),(5,2,9))
print(big_tup)

((12, 2, 5), (2, 4, 4), (5, 2, 9))


### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [13]:
positive_int = tuple(x for x in range(1,6))
con_list=list(positive_int)
con_list.append(6)
tup_revert = tuple(con_list)
print(tup_revert)

(1, 2, 3, 4, 5, 6)


### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [26]:
char_=("h","e","l","l","o")
char_tup = tuple(char_)
strCon= ''.join(char_tup)
print(strCon)

hello


### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [1]:
d_tup={(1,2):"point A",
       (4,5):"point b"}
print(d_tup)

{(1, 2): 'point A', (4, 5): 'point b'}


### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [3]:
nested_tpl = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)
for tpl in nested_tpl:
    for elem in tpl:
        print(elem)

1
2
3
4
5
6
7
8
9


### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [4]:
dup_elem = (1,2,4,5,6,4,7,8)
rem_elem = set(dup_elem)
print(rem_elem)

{1, 2, 4, 5, 6, 7, 8}


### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [7]:
def tuple_min_fun(tup):
    return min(tup)
def tuple_max_fun(tup):
    return max(tup)
def tuple_sum_fun(tup):
    return sum(tup)
tup=(1,1,3,4,5)

print(tuple_min_fun(tup))
print(tuple_max_fun(tup))
print(tuple_sum_fun(tup))

1
5
14